@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  /* if we add a border or padding to an element, it wont affect the width of the element  */
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f23e30;
  color: #f2c424;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  /* height: 100vh; */
  width: 100%;
}
body,
html {
  overflow-x: hidden;
}
h1 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 4.5rem;
  margin: 0;
}
h2 {
  margin: 10px 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #a34a28;
}
#arrow-down {
  position: fixed;
  bottom: 10%;
  right: 5%;
  color: black;
  z-index: 100;
  cursor: pointer;
}
#arrow-down:active {
  transform: scale(0.98);
}
.animated {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
#animated-example {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  h1 {
    font-size: 3.5rem;
    display: inline;
  }
  body {
    text-align: center;
  }
}

/* --------------------------------HEADER-------------------------------- */
.header {
  margin-bottom: 0;
}
nav {
  background-color: #fc5f26;
  transition: border-radius 0.3s ease;
  position: relative;
}
.hello-world {
  color: #fff;
  margin: 0;
  position: absolute;
  left: 30px;
  top: 40px;
  transition: position 2s ease;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
nav ul li {
}
nav ul a:hover {
  transition: color 0.14s ease;
}
nav ul a {
  color: #000;
  border-bottom: 0.2rem dashed rgba(0, 0, 0, 0.1);
  border-width: 1px;
  width: 4%;
  font-size: 1.5rem;
}
nav .icon {
  background-color: #fc5f26;
  border: 0;
}
@media (min-width: 801px) {
  .hello-world {
    font-size: 1.6rem;
    margin-bottom: 2px;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 20px;
    margin-bottom: 2%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.6s linear;
  }
  .hello-world {
    width: 150px;
    text-align: left;
    top: 55px;
    transition: position 2s ease;
  }

  nav.active {
    width: 80%;
  }

  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
  }

  nav.active ul {
    width: 100%;
  }

  nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  nav ul a {
    position: relative;
    margin: 0;
    width: 2%;
    font-size: 1.2rem;
    pointer-events: none;
  }

  nav.active ul a {
    pointer-events: initial;
  }
  nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  .icon {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }

  .icon:focus {
    outline: 0;
  }

  .icon .line {
    background-color: #f7f7f7;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }

  .icon .line2 {
    top: auto;
    bottom: 10px;
  }

  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }

  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
}
/* ---------------------------------------------------------------- */

/* --------------------------------INTRO-------------------------------- */

.container {
  padding: 15px 5px;
  width: 90%;
  margin: 0 auto;
  border: 3px solid #0e0220;
  border-left: none;
  border-right: none;
  padding: 0px 5%;
}
.intro {
  position: relative;
}

.myphoto {
  width: 50%;
  transition: width 0.3 ease-in-out;
}

.intro .text {
  transition: position 0.4s ease;
}

.templeuni {
  color: #cf0000;
}

.full-stack {
  color: #00adb5;
}

@media (min-width: 801px) {
  .myphoto {
    width: 60%;
    transition: width 0.3 ease-in-out;
  }

  .intro-container {
    height: 80vh;
  }
  .intro .text {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    background-color: rgba(51, 170, 51, 0.1);
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 30%;
  }
}

@media (max-width: 800px) {
  .myphoto {
    width: 100%;
  }
}

.container {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* width: 100vw; */
  height: fit-content;
  /* margin: 10px; */
  border-radius: 10px;
  /* 4px - offset, 5px - blur, rgba - color */
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  /* 0 is default, 100px - move right by 100px*/
  transform: translateX(400%);
  transition: transform 0.4s ease;
  z-index: 100;
}

.container:nth-of-type(even) {
  /* even boxes - every other one */
  transform: translateX(-400%);
}
/* move to the default position (center of the screen)  */
.container.show {
  transform: translateX(0);
}

.child-container {
  visibility: hidden;
  transform: translateX(1200%);
  transition: transform 1.8s ease, visibility ease;
}

.child-container:nth-of-type(even) {
  /* even boxes - every other one */
  /* transition-delay: 1s; */
  transform: translateX(-1200%);
}

.child-container.show {
  /* move to the default position (center of the screen) */
  /* transition-delay: 1s; */
  visibility: visible;
  transform: translateX(0);
}

/* ---------------------------------------------------------------- */

/* --------------------------------SKILLS-------------------------------- */

.skills {
  position: relative;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills h2 {
  margin: 0;
}

.skills .description {
  position: absolute;
  color: rgba(51, 170, 51, 0.8);
  top: 0%;
  left: -5%;
  z-index: -100;
}
.description {
  position: absolute;
}

.description h2 {
  font-size: 7rem;
  color: #fa9905;
  position: absolute;
  left: 102%;
  top: 0%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: 0.4;
}
.description h2::-moz-selection {
  background: transparent;
}
.description h2::selection {
  background: transparent;
}
.skill {
  margin: 3% 0;
  padding-bottom: 3%;
  min-width: 100%;
  /* width: 40%; */
  border-bottom: 3px dashed black;
  border-width: 0.15rem;
}

.awesome {
  margin: 0 5px;
  color: #f23e50;
}

.one-line-sentence {
  color: #ff6701;
  /* line-height: 1.5; */
  letter-spacing: 2px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden; /* just in case a value goes out of bounds */
}
.one-line-sentence.no-color {
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
.skills p {
  font-size: 1rem;
  margin: 5px 0;
}
.skills a,
.skills small {
  font-size: 0.8rem;
}
.skills small {
  font-style: italic;
}

@media (min-width: 801px) {
  .skill {
    width: 45%;
    min-width: 30%;

    /* margin: 20px; */
  }
  .skill:nth-of-type(odd) {
    /* border-right: 1px dashed black; */
    /* font-size: 0.3rem; */
    margin-left: 3%;
  }
  .skill:nth-of-type(even) {
    /* border-left: 1px dashed black; */
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------HEADER-------------------------------- */

/* ---------------------------------------------------------------- */

/* --------------------------------FOOTER-------------------------------- */
.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 12px 25%;
}
.footer .awesome {
  color: blue;
  margin: 50px 0;
}
.social-media-a i:hover {
  color: #f2c424;
}
/* ---------------------------------------------------------------- */
