@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
  --background-color: #2b506e;
  --primary-text-color: #fff;
  --nav-color: #1f394f;
  --primary-container-background: #5caced;
  --btn-primary-color: #44c767;
  --btn-hover-color: #ff7b54;
  --a-tag-hover: #a34a28;
}

* {
  /* if we add a border or padding to an element, it wont affect the width of the element  */
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  text-align: left;
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  /* height: 100vh; */
  width: 100%;
  z-index: 150;
}
body,
html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

h1 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 4.5rem;
}
h2 {
  margin: 10px 0;
}
p {
  margin: 0;
  font-size: 1.1rem;
}

span {
  transition: all 0.2s ease-in;
}

a {
  margin: 0;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: all 0.35s ease-in;
}
a:hover {
  /* font-style: italic; */
  color: #9fe6a0;
}

.btn {
  /* box-shadow: inset 0px 1px 0px 0px #3dc21b; */
  background-color: var(--btn-primary-color);
  border-radius: 6px;
  border: 1px solid #1932ab;
  display: inline-block;
  cursor: pointer;
  color: var(--primary-text-color);
  font-family: Arial;
  font-size: 19px;
  text-transform: uppercase;
  padding: 8px 47px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  transition: all 0.45s ease-in;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  color: #ff005c;
  background-color: var(--btn-hover-color);
}
}
.btn:hover {
  color: #ff005c;
  background-color: var(--btn-hover-color);
}
.btn:active {
  position: relative;
  top: 1px;
  transform: scale(0.98);
}

.awesome {
  margin: 0 5px;
  color: #04009a;
  font-size: 2rem;
  transition: color 0.2s ease-in-out;
}

.awesome:hover {
  color: var(--btn-hover-color);
}

#arrow-down {
  position: fixed;
  font-size: 5rem;
  bottom: 10%;
  right: 5%;
  color: #511281;
  z-index: 99;
  cursor: pointer;
  transform: rotate(0deg);
}
#arrow-down:active {
  transform: scale(0.98);
}
#arrow-down.rotated {
  transform: rotate(90deg);
}
#arrow-down-a {
  transition: visibility 0.5s ease-in;
}
.nowrap {
  white-space: nowrap;
}
.animated {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
#animated-example {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  h1 {
    font-size: 3.5rem;
    display: inline;
  }
  body {
    text-align: center;
  }
}
/* LOADER */
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading-screen {
  width: 100%;
  height: 100%;
  background: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Just to keep it at the very top */
}

.development {
  position: absolute;
  top: 4%;
  left: 5%;
  z-index: 500;
}

/* --------------------------------HEADER-------------------------------- */
.header {
  margin-bottom: 0;
  position: relative;
  z-index: 100;
}
nav {
  background-color: var(--nav-color);
  transition: border-radius 0.3s ease;
  position: relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
  padding-top: 5%;
}
nav ul li {
}
nav ul a:hover {
  transition: color 0.14s ease;
}
nav ul a {
  color: var(--primary-text-color);
  border-bottom: 0.2rem dashed var(--background-color);
  border-width: 1px;
  width: 4%;
  font-size: 1.5rem;
}
nav .icon {
  background-color: var(--nav-color);
  border: 0;
}
@media (min-width: 801px) {
  nav ul {
    padding: 0;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 20px;
    margin-bottom: 2%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.6s linear;
  }

  nav.active {
    width: 95%;
  }

  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 2%;
    width: 0;
    justify-content: space-between;
    transition: width 0.6s linear;
  }

  nav.active ul {
    width: 100%;
  }

  nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  nav ul a {
    position: relative;
    width: 2%;
    font-size: 1.1rem;
    pointer-events: none;
  }

  nav.active ul a {
    pointer-events: initial;
  }
  nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  .icon {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }

  .icon:focus {
    outline: 0;
  }

  .icon .line {
    background-color: #f7f7f7;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }

  .icon .line2 {
    top: auto;
    bottom: 10px;
  }

  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }

  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
}
/* ---------------------------------------------------------------- */

/* --------------------------------INTRO-------------------------------- */

.intro {
  position: relative;
}

.myphoto {
  width: 50%;
  transition: width 0.3 ease-in-out;
}

.intro .text {
  transition: position 0.4s ease, font-size 0.5s ease;
}

.templeuni,
.full-stack {
  font-family: 'Antonio', sans-serif;
  color: #f8dc81;
  letter-spacing: 1px;
  /* font-size: 1.5rem; */
  border: none;
  white-space: nowrap;
  text-shadow: none;
}

.templeuni {
  color: #e40017;
}

.myphoto {
  width: 100%;
  transition: width 0.3 ease-in-out;
}
@media (min-width: 801px) {
  .myphoto {
    width: 75%;
  }

  .intro-container {
    height: 80vh;
  }
  .intro .text {
    font-family: 'Merriweather', serif;
    font-size: 1.12rem;
    background-color: rgba(31, 57, 79, 0.51);
    border-radius: 20px;
    padding-left: 10px;
    position: absolute;
    left: 50%;
    top: 22%;
    width: 50%;
  }
}

@media (min-width: 950px) {
  .intro .text {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .myphoto {
    width: 65%;
  }
  .intro .text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1450px) {
  .myphoto {
    width: 60%;
  }
  .intro .text {
    font-size: 2rem;
    top: 18%;
  }
}

@media (min-width: 1800px) {
  .myphoto {
    width: 55%;
  }
  .intro .text {
    font-size: 2.3rem;
    top: 23%;
  }
}

.container {
  background-color: var(--primary-container-background);
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 5%;
  /* min-width: 90%; */
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 10px;

  border: 3px solid #0e0220;
  border-radius: 10px;
  /* 4px - offset, 5px - blur, rgba - color */
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  border-left: none;
  border-right: none;
  transition: transform 0.4s ease;
}

@media (max-width: 800px) {
  .container {
    width: 98%;
  }
}

.child-container {
  visibility: hidden;
  transform: translateX(1200%);
  transition: transform 0.8s ease, visibility ease;
}

.child-container:nth-of-type(even) {
  /* even boxes - every other one */
  /* transition-delay: 1s; */
  transform: translateX(-1200%);
}

.child-container.show {
  /* move to the default position (center of the screen) */
  /* transition-delay: 1s; */
  visibility: visible;
  transform: translateX(0);
}
/* ---------------------------------------------------------------- */

/* --------------------------------AUTOBIOGRAPHY-------------------------------- */
.autobiography-container {
  height: fit-content;
}
.autobiography {
  position: relative;
  /* text-align: left; */
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}
.autobiography-container .autobiography .description {
}

.autobiography-container .autobiography .text {
  padding: 2% 0;
  text-align: left;
}

@media (min-width: 1200px) {
  .autobiography-container .autobiography .text {
    padding: 1% 0;
    text-align: left;
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------SKILLS-------------------------------- */

.skills {
  position: relative;
  text-align: left;
  width: 100%;
  margin: 3% 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills .description {
  position: absolute;
  color: rgba(51, 170, 51, 0.8);
  top: 0%;
  left: -5%;
  z-index: -100;
  position: absolute;
}

.skills .description h2 {
  font-size: 7rem;
  color: #fa9905;
  position: absolute;
  left: 102%;
  top: 0%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: 0.4;
}
.skills .description h2::-moz-selection {
  background: transparent;
}
.skills .description h2::selection {
  background: transparent;
}
.skill {
  margin: 1% 0;
  padding-bottom: 3%;
  min-width: 100%;
  /* width: 40%; */
  border-bottom: none;
  border-width: 0.15rem;
}

.skill:nth-child(2),
.skill:nth-child(3) {
  border-bottom: 3px dashed var(--background-color);
}

@media (max-width: 800px) {
  .skill:not(:last-child) {
    border-bottom: 3px dashed var(--background-color);
  }
}

.awesome:hover .skill h2 span.nowrap {
  color: red;
  text-decoration: underline;
}

.skills h2 .nowrap {
  color: var(--nav-color);
}
.one-line-sentence {
  color: #ff6701;
  /* line-height: 1.5; */
  letter-spacing: 2px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden; /* just in case a value goes out of bounds */
}
.one-line-sentence.no-color {
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
.skills p {
  margin: 5px 0;
}
.skills a,
.skills small {
  font-size: 0.8rem;
}
.skills small {
  font-style: italic;
}

@media (min-width: 801px) {
  .skill {
    width: 45%;
    min-width: 30%;

    /* margin: 20px; */
  }
  .skill:nth-of-type(odd) {
    /* border-right: 1px dashed black; */
    /* font-size: 0.3rem; */
    margin-left: 3%;
  }
  .skill:nth-of-type(even) {
    /* border-left: 1px dashed black; */
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------CERTIFICATES-------------------------------- */
.certificates-section {
  display: flex;
  justify-content: center;
}
.certificates .description {
  text-align: center;
}

.certificate {
  padding: 2% 0;
  display: inline-block;
  /* height: 100px; */
  text-align: center;
  width: 48%;
  margin: 0 auto;
}

.certificate:first-child {
  margin-left: 0;
}

.certificate:last-child {
  margin-right: 0;
}

.image-btn {
  padding: 0;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
  position: relative;
}
.image-btn .arrow-link {
  position: absolute;
  color: var(--background-color);
  opacity: 0.15;
  top: 5px;
  right: 5px;
}

.image-btn:hover {
  opacity: 0.45;
}

.image-btn:hover .arrow-link {
  opacity: 1;
}

.image-btn:active {
  transform: scale(0.98);
}

img {
  border: 0;
}

.certificate img {
  width: 100%;
  height: 100%;
  /* max-height: 100%; */
  display: block; /* remove extra space below image */
}

.certificate .description {
  text-align: left;

  padding: 2% 4%;
  margin: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.certificate .title a {
  font-size: 1.8rem;
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: var(--primary-text-color); */
  transition: font-size 0.45s ease-in-out;
}

.certificate .content {
  font-size: 1.1rem;
  margin: 2% 0;
  transition: font-size 0.45s ease-in-out;
}

.certificate small {
  font-size: 0.7rem;
  transition: font-size 0.45s ease-in-out;
}

@media (max-width: 1000px) {
  .certificate .title a {
    font-size: 1.55rem;
    margin-bottom: 1%;
  }

  .certificate .content {
    font-size: 1rem;
    margin: 1% 0;
  }

  .certificate small {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .certificates-container {
    padding: 0 2%;
    width: 98%;
  }
  .certificates-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .certificate {
    width: 100%;
    margin: 0;
    padding: 1.5% 0 2.5%;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .certificate:first-child {
    padding-bottom: 1%;
  }
  .certificate:last-child {
    padding-top: 1%;
  }

  .image-btn {
    width: 38%;
    min-width: 100px;
  }
  .certificate .description {
    height: auto;
    width: 62%;
    border: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
  }
  .certificate .text {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    transform: translate(-50%, -50%);
  }
  .certificate .title a {
    font-size: 1.7rem;
    margin: 0 0 1%;
  }

  .certificate .content {
    font-size: 0.9rem;
  }

  .certificate small {
    font-size: 0.7rem;
  }
}

@media (max-width: 700px) {
  .certificate .title a {
    font-size: 1.4rem;
    margin: 0 0 1%;
  }

  .certificate .content {
    font-size: 0.85rem;
  }

  .certificate small {
    font-size: 0.6rem;
  }
}

@media (max-width: 600px) {
  .certificate .title a {
    font-size: 1.2rem;
  }

  .certificate .content {
    font-size: 0.8rem;
  }

  .certificate small {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  .certificate .title a {
    font-size: 0.9rem;
    margin: 0 0 1%;
  }

  .certificate .content {
    font-size: 0.7rem;
    margin: 1% 0;
  }

  .certificate small {
    font-size: 0.5rem;
  }
}

@media (max-width: 350px) {
  .certificate .title a {
    font-size: 0.8rem;
    margin: 0 0 1%;
    line-height: normal;
  }

  .certificate .content {
    font-size: 0.5rem;
    margin: 0;
  }

  .certificate small {
    font-size: 0.4rem;
  }
}

.cover-body {
  opacity: 1;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0px;
  left: 0px;
  z-index: 1000;
  visibility: hidden;
  overflow-y: hidden;
}

.pdf-div {
  position: fixed;
  width: 80%;
  height: 90%;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
}

#loader-body {
  opacity: 1;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.pdf {
  position: absolute;
  width: 100%;
  /* min-height: 500px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------------- */

/* --------------------------------CYCLING-------------------------------- */
.cycling-container {
  height: fit-content;
}
.cycling {
  position: relative;
  text-align: center;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.cycling-container .cycling .text {
  padding: 1.2% 0 1%;
  text-align: left;
}

.cycling-container .cycling .nowrap {
  color: var(--nav-color);
}

@media (min-width: 1200px) {
  .cycling-container .cycling .text {
    padding: 1% 0;
    text-align: left;
  }
}
.panelsContainer {
  display: flex;
  width: 90vw;
  background-position: center center;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.panelsContainer.not-active {
  border-radius: 50px;
  pointer-events: none;
  cursor: default;
  transition: border-radius 0s ease-in-out;
}

.panelsContainer {
  transition: all 1s ease-in-out;
}
.panel {
  background-size: cover;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 50px;
  color: var(--primary-text-color);
  cursor: pointer;
  /* width. everything is even right now */
  flex: 0.5;
  margin: 0 0.5%;
  position: relative;
  visibility: visible;
  transition: flex 0.7s ease-in;
}

.panel:first-child {
  margin-left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.panel:last-child {
  margin-right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.panel:nth-child(2),
.panel:nth-child(3),
.panel:nth-child(4),
.panel:nth-child(5) {
  border-radius: 25px;
}

.panel h3 {
  font-size: 24px;
  text-align: center;
  padding: 1% 2%;
  color: var(--btn-primary-color);
  background-color: rgba(43, 80, 110, 0.9);
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin: 0;
  opacity: 0;
}

.panel.hidden {
  visibility: hidden;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  /* 0.4s - delay */
  transition: opacity 1.2s ease-in 0.4s;
}
/* if the screen is too small, show only 3 images instead of 5 */
@media (max-width: 800px) {
  .panel h3 {
    left: 7px;
  }

  .panel:nth-child(3) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5),
  .panel:nth-of-type(6) {
    display: none;
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------CONTACT-------------------------------- */
.contact-container .contact {
  width: 100%;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.boxes .left-container,
.boxes .right-container {
  background-color: var(--background-color);
  width: 100%;
  margin: 1%;
  border-radius: 10px;
}

.boxes .left-container {
  margin-left: 0;
  position: relative;
}
.boxes .left-container .social-media-container {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.boxes .right-container {
  margin-right: 0;
}
.right-container a {
  text-decoration: none;
  color: lightblue;
}
.right-container form {
  width: 80%;
  margin: 4% auto;
}

.social-media-container .social-media {
  /* height: 20vh; */
  width: 100%;
}
.social-media .awesome {
  font-size: 5rem;
  display: block;
  margin: 5% 0 5%;
  transition: all 0.35 ease-in-out;
}

.social-media a {
  color: var(--primary-text-color);
  font-size: 1.3rem;
}

.social-media .awesome,
.social-media a {
  transition: color 0.2s ease-in;
}

.social-media a:hover {
  color: var(--btn-primary-color);
  font-weight: bold;
}
.social-media a:hover .awesome {
  color: var(--btn-hover-color);
}

.social-media .awesome:active,
.social-media a:active {
  transform: scale(0.98);
}

.submit-button {
  text-shadow: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .boxes {
    flex-direction: column;
  }
  .boxes .left-container {
    width: 100%;
    height: 20vh;
  }
  .boxes .left-container .social-media-container,
  .boxes .right-container form {
    width: 90%;
  }

  .boxes .right-container {
    background-color: var(--background-color);
    width: 100%;
    margin: 1% 0;
  }
  .social-media .awesome {
    display: block;
    font-size: 4rem;
  }
  .social-media a {
    color: var(--primary-text-color);
    font-size: 1rem;
  }
}

.form-control {
  position: relative;
  margin: 3% 0 3%;
}

.form-control:first-child {
  margin-bottom: 6%;
}

.form-control input,
.form-control .textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--primary-text-color) solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: var(--primary-text-color);
  font-family: inherit;
  transition: border-bottom 0.7s ease;
}

.form-control input:focus,
.form-control .textarea:focus {
  /* color: red; */
  outline: 0;
  border-bottom-color: var(--btn-primary-color);
}

.form-control label {
  position: absolute;
  top: 10%;
  left: 0;
  letter-spacing: 0.6px;
  color: var(--primary-text-color);
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-family: inherit;
  /* color: red; */
  font-size: 1.5rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control input:not(:placeholder-shown) + label span {
  color: var(--btn-primary-color);
  transform: translateY(-70%);
}
.form-control input:valid + label span,
.form-control input:not(:placeholder-shown) + label span {
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--btn-primary-color);
  transform: translateY(-70%);
}
.form-control input:valid + label span {
  color: var(--primary-text-color);
  transform: translateY(-70%);
}
.form-control textarea:focus + label span,
.form-control textarea:valid + label span,
.form-control textarea:invalid + label span {
  /* color: var(--btn-hover-color); */
  transform: translateY(-100%);
}

textarea {
  font-family: inherit;
}

.form-control .textarea {
  width: 100%;
  resize: none;
}

.sayhi-container {
  background-color: var(--background-color);
  width: 100%;
  margin: 0.3% 0;
  padding: 1% 0;
  border-radius: 10px;
  margin-bottom: 3%;
}

.sayhi-btn {
  width: 98%;
  margin: 5px auto;
  background-color: var(--btn-primary-color);
  padding: 1rem;
  border-radius: 5px;
}

.sayhi-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  transition: all 0.35s ease-in-out;
}

.sayhi-btn:hover a,
.sayhi-btn:hover {
  /* color: var(--btn-hover-color); */
  /* font-weight: bold; */
}

.sayhi-btn:focus {
  outline: 0;
}

.sayhi-btn:active {
  transform: scale(0.98);
}

.sayhi-btn:hover {
  background-color: var(--btn-hover-color);
  /* font-weight: bold; */
}

.mailtoui-modal {
  background-color: var(--background-color);
  font-family: 'Muli', sans-serif;
  color: var(--primary-text-color);
  transition: background-color 0.5s ease;
}

.mailtoui-modal-head {
  background-color: var(--nav-color);
}

.mailtoui-modal-title {
  font-family: inherit;
  color: var(--primary-text-color);
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
  color: var(--primary-text-color);
}

.mailtoui-modal-body {
  background-color: var(--primary-container-background);
}

.mailtoui-button:focus .mailtoui-button-content {
  background-color: var(--btn-hover-color);
  font-family: inherit;
  color: #23049d;
  font-weight: bold;
}

.mailtoui-button-content,
.mailtoui-button-copy {
  background-color: #000;
  color: var(--primary-text-color);
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
  background-color: var(--btn-hover-color);
  color: #23049d;
  font-weight: bold;
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:hover,
.mailtoui-button-copy-clicked:focus {
  background-color: #1f9d55;
  color: var(--primary-text-color);
}

.mailtoui-email-address {
  background-color: #909295;
  color: #21262c;
}

.mailtoui-brand a:hover {
  color: initial;
}

/* End dark theme */

/* ---------------------------------------------------------------- */

/* --------------------------------FOOTER-------------------------------- */
.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5% 25%;
  position: relative;
  transition: margin 0.5s ease-in;
}

@media (max-width: 800px) {
  .footer {
    margin: 6% 8%;
  }
}
@media (min-width: 1200px) {
  .footer {
    margin: 3% 20%;
  }
}
.arrow-up-container {
  position: absolute;
  bottom: -5%;
  right: -5%;
}
.arrow-up-container .awesome {
  font-size: 3rem;
  color: white;
}
#arrow-up-a {
  font-size: 1rem;
  visibility: hidden;
  transition: visibility 0.6s ease;
}

/* ---------------------------------------------------------------- */
