@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  /* if we add a border or padding to an element, it wont affect the width of the element  */
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #2b506e;
  text-align: left;
  color: #f2c424;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;

  /* height: 100vh; */
  width: 100%;
  /* z-index: 150; */
}
body,
html {
  overflow-x: hidden;
}
h1 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 4.5rem;
  margin: 0;
}
h2 {
  margin: 10px 0;
}
p {
  margin: 0;
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: #a34a28;
}
#arrow-down {
  position: fixed;
  bottom: 10%;
  right: 5%;
  color: black;
  z-index: 100;
  cursor: pointer;
}
#arrow-down:active {
  transform: scale(0.98);
}
.nowrap {
  white-space: nowrap;
}
.animated {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
#animated-example {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  h1 {
    font-size: 3.5rem;
    display: inline;
  }
  body {
    text-align: center;
  }
}

/* --------------------------------HEADER-------------------------------- */
.header {
  margin-bottom: 0;
}
nav {
  background-color: #1f394f;
  transition: border-radius 0.3s ease;
  position: relative;
}
.hello-world {
  color: #fff;
  margin: 0;
  position: absolute;
  left: 30px;
  top: 40px;
  transition: position 2s ease;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
  padding-top: 5%;
}
nav ul li {
}
nav ul a:hover {
  transition: color 0.14s ease;
}
nav ul a {
  color: #fff;
  border-bottom: 0.2rem dashed rgba(0, 0, 0, 0.1);
  border-width: 1px;
  width: 4%;
  font-size: 1.5rem;
}
nav .icon {
  background-color: #1f394f;
  border: 0;
}
@media (min-width: 801px) {
  .hello-world {
    font-size: 1.6rem;
    margin-bottom: 2px;
  }
  nav ul {
    padding: 0;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 20px;
    margin-bottom: 2%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.6s linear;
  }
  .hello-world {
    width: 150px;
    text-align: left;
    top: 55px;
    transition: position 2s ease;
  }

  nav.active {
    width: 95%;
  }

  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 2%;
    width: 0;
    justify-content: space-between;
    transition: width 0.6s linear;
  }

  nav.active ul {
    width: 100%;
  }

  nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  nav ul a {
    position: relative;
    margin: 0;
    width: 2%;
    font-size: 1.1rem;
    pointer-events: none;
  }

  nav.active ul a {
    pointer-events: initial;
  }
  nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  .icon {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }

  .icon:focus {
    outline: 0;
  }

  .icon .line {
    background-color: #f7f7f7;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }

  .icon .line2 {
    top: auto;
    bottom: 10px;
  }

  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }

  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
}
/* ---------------------------------------------------------------- */

/* --------------------------------INTRO-------------------------------- */

.intro {
  position: relative;
}

.myphoto {
  width: 50%;
  transition: width 0.3 ease-in-out;
}

.intro .text {
  transition: position 0.4s ease, font-size 0.5s ease;
}

.templeuni,
.full-stack {
  font-family: 'Antonio', sans-serif;
  color: #f8dc81;
  letter-spacing: 1px;
  /* font-size: 1.5rem; */
  border: none;
  white-space: nowrap;
  text-shadow: none;
}

.templeuni {
  color: #e40017;
}

.myphoto {
  width: 100%;
  transition: width 0.3 ease-in-out;
}
@media (min-width: 801px) {
  .myphoto {
    width: 75%;
  }

  .intro-container {
    height: 80vh;
  }
  .intro .text {
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    background-color: rgba(31, 57, 79, 0.51);
    border-radius: 20px;
    padding-left: 10px;
    position: absolute;
    left: 50%;
    top: 22%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .myphoto {
    width: 65%;
  }
  .intro .text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1450px) {
  .myphoto {
    width: 60%;
  }
  .intro .text {
    font-size: 2rem;
    top: 18%;
  }
}

@media (min-width: 1800px) {
  .myphoto {
    width: 55%;
  }
  .intro .text {
    font-size: 2.3rem;
    top: 23%;
  }
}

.container {
  background-color: #5caced;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 5%;
  /* min-width: 90%; */
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 10px;

  border: 3px solid #0e0220;
  border-radius: 10px;
  /* 4px - offset, 5px - blur, rgba - color */
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  border-left: none;
  border-right: none;

  transform: translateX(400%);
  transition: transform 0.4s ease;
}

@media (max-width: 800px) {
  .container {
    width: 98%;
  }
}

.container:nth-of-type(even) {
  /* even boxes - every other one */
  transform: translateX(-400%);
}

.container.show {
  /* move to the default position (center of the screen) */
  transform: translateX(0);
}
.child-container {
  visibility: hidden;
  transform: translateX(1200%);
  transition: transform 1.8s ease, visibility ease;
}

.child-container:nth-of-type(even) {
  /* even boxes - every other one */
  /* transition-delay: 1s; */
  transform: translateX(-1200%);
}

.child-container.show {
  /* move to the default position (center of the screen) */
  /* transition-delay: 1s; */
  visibility: visible;
  transform: translateX(0);
}
/* ---------------------------------------------------------------- */

/* --------------------------------AUTOBIOGRAPHY-------------------------------- */
.autobiography-container {
  height: fit-content;
}
.autobiography {
  position: relative;
  /* text-align: left; */
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}
.autobiography-container .autobiography .description {
}

.autobiography-container .autobiography .text {
  padding: 2% 0;
  text-align: left;
}

@media (min-width: 1200px) {
  .autobiography-container .autobiography .text {
    padding: 1% 0;
    text-align: left;
  }
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #3dc21b;
  background-color: #44c767;
  border-radius: 6px;
  border: 1px solid #1932ab;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 8px 47px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.btn:hover {
  background-color: #5cbf2a;
}
.btn:active {
  position: relative;
  top: 1px;
}

/* ---------------------------------------------------------------- */

/* --------------------------------SKILLS-------------------------------- */

.skills {
  position: relative;
  text-align: left;
  width: 100%;
  margin: 3% 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills h2 {
  margin: 0;
}

.skills .description {
  position: absolute;
  color: rgba(51, 170, 51, 0.8);
  top: 0%;
  left: -5%;
  z-index: -100;
  position: absolute;
}

.skills .description h2 {
  font-size: 7rem;
  color: #fa9905;
  position: absolute;
  left: 102%;
  top: 0%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: 0.4;
}
.skills .description h2::-moz-selection {
  background: transparent;
}
.skills .description h2::selection {
  background: transparent;
}
.skill {
  margin: 1% 0;
  padding-bottom: 3%;
  min-width: 100%;
  /* width: 40%; */
  border-bottom: none;
  border-width: 0.15rem;
}

.skill:nth-child(2),
.skill:nth-child(3) {
  border-bottom: 3px dashed black;
}

@media (max-width: 800px) {
  .skill:not(:last-child) {
    border-bottom: 3px dashed black;
  }
}

.awesome {
  margin: 0 5px;
  color: #e40017;
}
.skills h2 .nowrap {
  color: #1f394f;
}
.one-line-sentence {
  color: #ff6701;
  /* line-height: 1.5; */
  letter-spacing: 2px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden; /* just in case a value goes out of bounds */
}
.one-line-sentence.no-color {
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
.skills p {
  margin: 5px 0;
}
.skills a,
.skills small {
  font-size: 0.8rem;
}
.skills small {
  font-style: italic;
}

@media (min-width: 801px) {
  .skill {
    width: 45%;
    min-width: 30%;

    /* margin: 20px; */
  }
  .skill:nth-of-type(odd) {
    /* border-right: 1px dashed black; */
    /* font-size: 0.3rem; */
    margin-left: 3%;
  }
  .skill:nth-of-type(even) {
    /* border-left: 1px dashed black; */
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------CERTIFICATES-------------------------------- */

/* ---------------------------------------------------------------- */

/* --------------------------------CYCLING-------------------------------- */
.cycling-container {
  height: fit-content;
}
.cycling {
  position: relative;
  text-align: left;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.cycling-container .cycling .text {
  padding: 1.2% 0 1%;
  text-align: left;
}

.cycling-container .cycling .nowrap {
  color: #1f394f;
}

@media (min-width: 1200px) {
  .cycling-container .cycling .text {
    padding: 1% 0;
    text-align: left;
  }
}
.panelsContainer {
  display: flex;
  width: 90vw;
  background-position: center center;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.panelsContainer.not-active {
  border-radius: 50px;
  pointer-events: none;
  cursor: default;
  transition: border-radius 0s ease-in-out;
}

.panelsContainer {
  transition: all 1s ease-in-out;
}
.panel {
  background-size: cover;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  /* width. everything is even right now */
  flex: 0.5;
  margin: 0 0.5%;
  position: relative;
  visibility: visible;
  transition: flex 0.7s ease-in;
}

.panel:first-child {
  margin-left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.panel:last-child {
  margin-right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.panel:nth-child(2),
.panel:nth-child(3),
.panel:nth-child(4),
.panel:nth-child(5) {
  border-radius: 25px;
}

.panel h3 {
  font-size: 24px;
  text-align: center;
  padding: 1% 2%;
  color: #ff6701;
  background-color: rgba(43, 80, 110, 0.9);
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin: 0;
  opacity: 0;
}

.panel.hidden {
  visibility: hidden;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  /* 0.4s - delay */
  transition: opacity 1.2s ease-in 0.4s;
}
/* if the screen is too small, show only 3 images instead of 5 */
@media (max-width: 800px) {
  .panel h3 {
    left: 7px;
  }

  .panel:nth-child(3) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5),
  .panel:nth-of-type(6) {
    display: none;
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------CONTACT-------------------------------- */
.contact-container .contact {
  width: 100%;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  margin: 1% auto 0;
}

.boxes .left-container,
.boxes .right-container {
  background-color: #2b506e;
  height: 30vh;
  width: 100%;
  margin: 1%;
  border-radius: 10px;
}
.boxes .left-container {
  margin-left: 0;
}
.boxes .right-container {
  /* background-color: rgba(0, 0, 0, 0.4); */
  margin-right: 0;
  /* padding: 20px 40px; */

  /* border-radius: 5px; */
}
.sayhi-container {
  background-color: #2b506e;
  width: 100%;
  margin: 0.3% 0;
  border-radius: 10px;
}

.sayhi-container .btn {
  width: 98%;
  /* padding: 1rem 1rem; */
  margin: 1% auto;
}

.left-container .social-media-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social-media-container .social-media {
  height: 20vh;
  width: 100%;
}
.social-media .awesome {
  font-size: 5rem;
  display: block;
  margin: 15% 0 15%;
}

.social-media .awesome,
.social-media a {
  color: #44c767;
  transition: color 0.2s ease-in;
}
.social-media .awesome:hover,
.social-media a:hover {
  color: #5cbf2a;
}
.social-media .awesome:active,
.social-media a:active {
  transform: scale(0.98);
}

.right-container a {
  text-decoration: none;
  color: lightblue;
}

.submit-button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  padding: 10px 10px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.submit-button:focus {
  outline: 0;
}
/* when we click */
.submit-button:active {
  transform: scale(0.98);
}

/* .text {
  margin-top: 30px;
} */

.right-container form {
  margin: auto;
  width: 80%;
  height: 20vh;
  margin-top: 3%;
}

.form-control {
  position: relative;
  margin: 1% 0 3%;
  /* width: 300px; */
}

.form-control:first-child {
  margin-bottom: 4%;
}

.form-control input,
.form-control .textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid,
.form-control .textarea:focus,
.form-control .textarea:valid {
  /* color: red; */
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 10%;
  left: 0;
  letter-spacing: 0.6px;
  color: #44c767;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  /* color: red; */
  font-size: 1.3rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #5cbf2a;
  transform: translateY(-70%);
}
.form-control .textarea:focus + label span {
  color: #5cbf2a;
  transform: translateY(-100%);
}

.form-control .textarea {
  /* padding: 2rem; */
  width: 100%;
  resize: none;
}

@media (max-width: 800px) {
  .boxes {
    flex-direction: column;
    margin: 1% auto 0;
  }
  .boxes .left-container,
  .boxes .right-container {
    background-color: #2b506e;
    height: 30vh;
    width: 100%;
    margin: 1% 0;
  }
  .left-container .social-media-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social-media-container .social-media {
    height: 20vh;
    width: 100%;
  }
  .social-media .awesome {
    display: block;
    margin-bottom: 15%;
  }
}

/* ---------------------------------------------------------------- */

/* --------------------------------FOOTER-------------------------------- */
.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5% 25%;
  transition: margin 0.5s ease-in;
}

@media (max-width: 800px) {
  .footer {
    margin: 6% 8%;
  }
}
@media (min-width: 1200px) {
  .footer {
    margin: 3% 20%;
  }
}

/* ---------------------------------------------------------------- */
